@import "tailwindcss";





* {
  /* scrollbar-width: none; */
  scrollbar-width: thin;
  /* -ms-overflow-style: none; */
}

/* *::-webkit-scrollbar {
  display: none;
} */



@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: firaGO;
    line-height: 100%;
  }


h1,h2,h3,p,label,div,span,button,textarea {
font-weight: 400;
line-height: 100%;
letter-spacing: 0%;
font-size: 16px;
}

button{
  transition: all;
  transition-duration: 200ms;
}

}

